body{
	padding-top: 80px;
}

body.login2 .login-wrapper img{
	margin: 40px 0px 25px 0px;
}

.reg-body{
	  padding: 35px 15px;;
}

.navbar{
	height: 45px;
}

.navbar .container-fluid.top-bar .logo{
	background-image: url('../images/proveek-logo.png') !important;
	background-size: contain;
	/*width: 160px;
  	height: 25px;
  	margin: 10px 10px 0 0;*/
  	width: 160px;
	height: 40px;
	margin: 3px 0 0 0
}

.navbar .container-fluid.top-bar .nav > li.user > a.dropdown-toggle{
	display: none;
}

.opacity input[type="checkbox"], .opacity input[type="radio"]{
	display: -webkit-inline-box;
}

a.taskname{
	color: #0EABCF;
}

.weather{
	height: auto;
  	padding-bottom: 15px;
  	min-height: 200px;
}

a.sidemenu{
	line-height: 2em;
	color: rgb(74, 73, 73);
	font-size: 14.5px;
}

a.sidemenu:hover{
	color: rgb(51, 155, 186);
}

i.checktask{
	color: rgb(199, 199, 199);
}

#nav{
	list-style:none;margin: 0px;
	padding: 0px;
}
#nav li {
	float: left;
	margin-right: 20px;
	font-size: 14px;
	font-weight:bold;
}
#nav li a{	color:#333333;text-decoration:none;}
#nav li a:hover{	color:#006699;text-decoration:none	}
#notification_li{	position:relative	}
#notificationContainer {
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	overflow: visible;
	position: absolute;
	top: 45px;
	margin-left: -170px;
	width: 400px;
	z-index: -1;
	display: none;
}
#notificationTitle {
	z-index: 1000;
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #ffffff;
	width: 384px;
	border-bottom: 1px solid #dddddd;
}
#notificationsBody {
	padding: 15px 0px 0px 0px !important;
	min-height:300px;
}
#notificationFooter {
	background-color: #e9eaed;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}
#notification_count, #msg_count {
	position: absolute;
  	top: 5px;
  	left: 0px;
  	height: 18px;
  	min-width: 18px;
  	padding: 0 5px;
  	border-radius: 9px;
  	background: #e62828;
  	text-align: center;
  	line-height: 17px;
  	color: white;
  	font-size: 11px;
}
#notificationsBody > .dropdown-msg > li{
	margin-bottom: 15px;
	margin-right: 15px;
}

#notificationsBody > .dropdown-msg > li > a {
  padding: 0px 15px 15px 2px;
  display: block;
  border-bottom: 1px solid #e2e2e2;
  color: #999999;
  font-size: 12px;
  margin-left: 14px;
}
